body{
    display: flex;
    width: 100%;
    height: 35rem;
    /* border: 2px solid; */
    background-color: rgba(211, 211, 211, 0.327);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: space-around
}
.left-container{
    display:flex;
    flex-direction: column;
    /* border: 2px solid; */
    width: 20rem;
    align-items: center;
    justify-content:center;
    color: blue;
}
.task1{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.task2{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
#add{
    width:100%;
}
.form-menu{
    margin-left:1.5rem;
}

.right-container{
    align-self: center;
    display:flex;
    border-radius:10px;
    background-color: white;
    width: 30rem;
}
.details{
    width: 20rem;
    margin:2rem 0rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.Priority{
    display: flex;
    justify-content: space-between;
}
#prio{
    border-radius: 5px;
    background-color: pink;
    padding: 0.4rem 0.9rem 0.4rem 0.9rem;

}
.Task{
    font-size:1.5rem;
}
.Tags{
    display: flex;
    gap: 1rem;
}
.Num-of-people{
    display: flex;
    justify-content: space-between;
}
#comp-logo{
    width: 5.5rem;
    height: 3rem;
    margin: 1.5rem 0rem 0rem 1.5rem;
}
#tag{
    background-color: lightgray;
    border-radius: 5px;
    padding: 0.3rem 1rem 0.3rem 1rem;
}
